body {
  margin: 0;
  background-color: #f1f1f1;
  
}

main {
  width: 100%;
  margin: 0;
}


#nav {
  height: 100vh;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

#nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: sans-serif;
}

#nav a:hover {
  color: #f1f1f1;
}

#nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-width: 450px) {
  #nav {
    padding-top: 15px;
  }

  #nav a {
    font-size: 18px;
  }

  #popular {
    display: flex;
    flex-direction: column;
  }
}

#nav-open {
  position: fixed;
  backdrop-filter: blur(10px);
  top: 0;
  z-index: 20;
  width: 100%;
  /* background-color: #868b8f; */
  padding-left: 5px;
}

#nav-open i:hover {
  cursor: pointer;
}

#home {
  color: white;
  font-family: sans-serif;
  background: url(../images/home-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 87vh;
  display: flex;
  flex-direction: column;
  padding: 40px;
  /* justify-content: center; */
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

#banner {
  font-size: 40px;
}

#about {
  margin-top: 40px;
}
.ticker-tape-container {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  height: 50px;
}

.ticker-tape-container h1 {
  position: absolute;
  white-space: nowrap;
  font-size: 32px;
  font-weight: bold;
  color: white;
  animation: ticker-tape 10s linear infinite;
}

@keyframes ticker-tape {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

#popular {
  background-color: #f1f1f1;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  width: 250px;
  height: 400px;
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 40px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card p {
  font-size: 20px;
  font-family: sans-serif;
  margin-top: 10px;
  text-align: center;
}

#swatches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#swatches header {
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 20px;
  text-align: center;
}

#swatches-group {
  /* make a grid */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.swatches-card {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 10px;
  border: 1px solid black;
}

#cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 100vh;
}

#cart-container {
  margin-top: 20px;
  width: 70%;
  height: 500px;
  overflow: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  justify-content: space-between;
}

#cart header {
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 20px;
  text-align: center;
}

#cart ul {
  list-style-type: none;
  padding: 0;
}

#items li {
  margin-top: 100px;
  font-size: 20px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

#cart li:hover {
  cursor: pointer;
}

#cart li span {
  float: left;
}

#cart button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #818181;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
}

#cart button:hover {
  cursor: pointer;
  background-color: #ae6262;
}

#cart button:active {
  background-color: #ae6262;
}

#cart button:focus {
  outline: none;
}

#cart input {
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
}

.cart-item-total {
  align-self: center;
}

.cart-item-price {
  color: #818181;
  font-weight: 400;
  font-size: 18px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 10px;
}

.cart-item-name {
  font-size: 30px;
}

#total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-total {
  align-self: flex-end;
  font-size: 30px;
  font-family: sans-serif;
}

#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

#contact-form {
  margin-bottom: 50px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 500px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

#content-form label {
  display: flex;
  flex-direction: column;
}

.contact-form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#contact-form p {
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 5px;
}

#contact-form input {
  background-color: #f2f2f2;
  height: 40px;
  width: 300px;
  border: none;
}

#contact-form textarea {
  min-height: 200px;
  background-color: #f2f2f2;
  border: none;
  width: 100%;
}



#contact-newsletter {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  width: 100%;
}

#contact-newsletter input {
  margin-top: 10px;
  height: 20px;
  width: 20px;
  align-self: center;
}

#contact-type {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  width: 100%;
}

#contact-type input {
  margin-top: 10px;
  height: 20px;
  width: 20px;
  align-self: center;
}

#contact-form button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  background-color: rgb(35, 35, 35);
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  width: 100%;
}

#contact-form button:hover {
  cursor: pointer;
  background-color: black;
}